In [70]:
from datetime import datetime
import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar as us_calendar
import awsprice

In [2]:
ec2_offers = awsprice.load_ec2_frame('local-data/budge.sqlite')

In [3]:
column_values = awsprice.column_values(ec2_offers)

In [13]:
month_by_hour = pd.date_range(start=datetime(2017, 1, 1), end=datetime(2017, 2, 1), 
                              freq='H', name='month_by_hour', closed='left')

In [14]:
month_by_hour

DatetimeIndex(['2017-01-01 00:00:00', '2017-01-01 01:00:00',
               '2017-01-01 02:00:00', '2017-01-01 03:00:00',
               '2017-01-01 04:00:00', '2017-01-01 05:00:00',
               '2017-01-01 06:00:00', '2017-01-01 07:00:00',
               '2017-01-01 08:00:00', '2017-01-01 09:00:00',
               ...
               '2017-01-31 14:00:00', '2017-01-31 15:00:00',
               '2017-01-31 16:00:00', '2017-01-31 17:00:00',
               '2017-01-31 18:00:00', '2017-01-31 19:00:00',
               '2017-01-31 20:00:00', '2017-01-31 21:00:00',
               '2017-01-31 22:00:00', '2017-01-31 23:00:00'],
              dtype='datetime64[ns]', name='month_by_hour', length=744, freq='H')

In [40]:
month_by_hour_periods = pd.period_range(start=datetime(2017, 1, 1), end=datetime(2017, 1, 31, 23), 
                                        freq='H', name='hour')

In [41]:
month_by_hour_periods

PeriodIndex(['2017-01-01 00:00', '2017-01-01 01:00', '2017-01-01 02:00',
             '2017-01-01 03:00', '2017-01-01 04:00', '2017-01-01 05:00',
             '2017-01-01 06:00', '2017-01-01 07:00', '2017-01-01 08:00',
             '2017-01-01 09:00',
             ...
             '2017-01-31 14:00', '2017-01-31 15:00', '2017-01-31 16:00',
             '2017-01-31 17:00', '2017-01-31 18:00', '2017-01-31 19:00',
             '2017-01-31 20:00', '2017-01-31 21:00', '2017-01-31 22:00',
             '2017-01-31 23:00'],
            dtype='period[H]', name='hour', length=744, freq='H')

In [209]:
hourly_load = pd.DataFrame(index=month_by_hour_periods, columns=['load'])

In [210]:
holidays = us_calendar().holidays(start=days[0], end=days[-1])
bdays = pd.bdate_range(start=days[0], end=days[-1]).difference(holidays)

In [211]:
bdays

DatetimeIndex(['2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
               '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12',
               '2017-01-13', '2017-01-17', '2017-01-18', '2017-01-19',
               '2017-01-20', '2017-01-23', '2017-01-24', '2017-01-25',
               '2017-01-26', '2017-01-27', '2017-01-30', '2017-01-31'],
              dtype='datetime64[ns]', freq=None)

In [212]:
def load_by_hour(x):
    day = x.name.start_time.date()
    hour = x.name.start_time.hour
    load = 100
    if day in bdays:
        if 9 <= hour <= 19:
            load = 1000
        elif (7 <= hour < 9) or (19 < hour <= 21):
            load = 500
    return load

hourly_load['load'] = hourly_load.apply(load_by_hour, axis=1)

In [213]:
hourly_load

                  load
hour
2017-01-01 00:00   100
2017-01-01 01:00   100
2017-01-01 02:00   100
2017-01-01 03:00   100
2017-01-01 04:00   100
2017-01-01 05:00   100
2017-01-01 06:00   100
2017-01-01 07:00   100
2017-01-01 08:00   100
2017-01-01 09:00   100
2017-01-01 10:00   100
2017-01-01 11:00   100
2017-01-01 12:00   100
2017-01-01 13:00   100
2017-01-01 14:00   100
2017-01-01 15:00   100
2017-01-01 16:00   100
2017-01-01 17:00   100
2017-01-01 18:00   100
2017-01-01 19:00   100
2017-01-01 20:00   100
2017-01-01 21:00   100
2017-01-01 22:00   100
2017-01-01 23:00   100
2017-01-02 00:00   100
2017-01-02 01:00   100
2017-01-02 02:00   100
2017-01-02 03:00   100
2017-01-02 04:00   100
2017-01-02 05:00   100
...                ...
2017-01-30 18:00  1000
2017-01-30 19:00  1000
2017-01-30 20:00   500
2017-01-30 21:00   500
2017-01-30 22:00   100
2017-01-30 23:00   100
2017-01-31 00:00   100
2017-01-31 01:00   100
2017-01-31 02:00   100
2017-01-31 03:00   100
2017-01-31 04:00   100
2017-01-31 05:00   100
2017-01-31 06:00   100
2017-01-31 07:00   500
2017-01-31 08:00   500
2017-01-31 09:00  1000
2017-01-31 10:00  1000
2017-01-31 11:00  1000
2017-01-31 12:00  1000
2017-01-31 13:00  1000
2017-01-31 14:00  1000
2017-01-31 15:00  1000
2017-01-31 16:00  1000
2017-01-31 17:00  1000
2017-01-31 18:00  1000
2017-01-31 19:00  1000
2017-01-31 20:00   500
2017-01-31 21:00   500
2017-01-31 22:00   100
2017-01-31 23:00   100

[744 rows x 1 columns]